body {
	background-color: rgb(255, 255, 255);
}

h1 {
	color: red;
	text-align: center;
}

header {
	nav-down: current;
	color: maroon;
	text-decoration: mintcream;
}

a.btn:link {
	color: white;
}
a.btn:visited {
	color: rgb(60, 255, 0);
}
a.btn:hover {
	color: rgb(255, 0, 0);
}

a.btn:active {
	color: yellow;
}

a.btn:hover {
	background-color: rgb(0, 0, 255);
}

.card {
	border-radius: 5px;
	box-shadow: 4px 4px 2px black;
}

.tagline{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 25px;
}
